:root {
    --color-primary: #176BFB;
    --color-green: #3CA455;
    --color-orange: #E67337;
    --color-red: #C84040;
    --color-text: #110F24;
    --color-gray-dark: #CCCED0;
    --color-gray-medium: #ECECEE;
    --color-gray-light: #F6F6F9;
}