body {
    font-size: 1rem;
}

/* Typography*/

h1 {
    color: var(--color-text);
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

h2 {
    color: var(--color-text);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

h3 {
    color: var(--color-text);
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

h4 {
    color: var(--color-text);
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
}

.bold-l {
    color: var(--color-text);
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}

.bold-m {
    color: var(--color-text);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

.bold-s {
    color: var(--color-text);
    font-size: 0.6875‬rem;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

p {
    color: var(--color-text);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
}

.regular-l {
    color: var(--color-text);
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}

.regular-m {
    color: var(--color-text);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.regular-s {
    color: var(--color-text);
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}